# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Composer
vendor/
composer.lock
composer.phar

# Transifex
/.tx/

# Assets
contao/assets/images/cache-256.png
contao/assets/images/Fleche_raccourci.png
