/*h2.sub_headline_cache_warmup {*/
    /*margin: 3px 18px 9px;*/
    /*padding: 6px 0 8px 36px;*/
    /*font-size: 14px;*/
    /*font-size: .875rem;*/
/*}*/

#tl_cache_warmup {
    padding: 0 18px 18px;
    line-height: 1.5;
}

#cache_warmup_loading {
    margin: 0;
    padding: 12px 12px 12px 24px;
    background: url("../../../../system/themes/flexible/icons/loading.svg") no-repeat left center;
    background-size: 16px;
    color: #006494;
}

#cache_warmup_complete {
    margin: 0;
    padding: 12px 12px 12px 24px;
    background: url("../../../../system/themes/flexible/icons/ok.svg") no-repeat left center;
    background-size: 16px;
    color: #006494;
}
